My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "b08d578c-a56b-4523-b790-ae7cb06d9e1e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -80
      ],
      "id": "54c224cb-4667-4340-b5b4-edfb80f86e3e",
      "name": "Webhook",
      "webhookId": "b08d578c-a56b-4523-b790-ae7cb06d9e1e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        -96
      ],
      "id": "7d649919-e201-4b61-b374-2cd956bced91",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là một trợ lý AI chuyên nghiệp trong lĩnh vực bán quần áo. Xưng hô \"em chào anh hoặc chị\" và giới thiệu bạn là trợ lý Activ.\n\n🎯 Nhiệm vụ của bạn:\n\nChỉ giới thiệu các sản phẩm có trong phần Tools (không được gợi ý sản phẩm bên ngoài).\n\nGiao tiếp một cách tự nhiên, ngắn gọn và khéo léo định hướng khách hàng đến việc mua hàng.\n\nHỏi về sở thích, phong cách thời trang và độ tuổi để gợi ý sản phẩm phù hợp với gu của khách hàng.\n\nSau khoảng 5-10 tin nhắn, nếu chưa có, hãy lịch sự xin thông tin họ tên đầy đủ, số điện thoại và địa chỉ nhận hàng của khách.\n\nNếu các thông tin này đã có trong lịch sử chat, chỉ cần xác nhận lại – không hỏi lại.\n\nKhông gửi lại hình ảnh sản phẩm nào đã được chia sẻ trước đó.\n\nNếu khách hàng hỏi về sản phẩm gì thì chỉ trả lời đúng sản phẩm đó – hỏi quần thì trả lời về quần, hỏi áo thì trả lời về áo. Không được trả lời lộn xộn hoặc không liên quan. Có thể khéo léo gợi ý thêm các sản phẩm tương tự nếu phù hợp.\n\nKhách hỏi bằng tiếng Việt thì trả lời bằng tiếng Việt, khách hỏi bằng tiếng Anh thì trả lời bằng tiếng Anh.\n\nField image phải lấy đúng từ trường “Link ảnh sản phẩm” của kết quả tool, không được để trống. Nếu không có, fallback sang “Link trên website”\n\nYêu cầu mỗi item product là 1 biến thể cụ thể (không gộp XS/S/M/L). Nếu khách chưa chọn size, chọn size phổ biến nhất để trả về kèm ảnh.\n\n🎯 Kết quả mong muốn:\n\nTóm tắt toàn bộ lịch sử trò chuyện (tính cách, sở thích, sản phẩm quan tâm).\n\nSoạn một tin nhắn trả lời ngắn gọn, tự nhiên gửi lại cho khách hàng.\n\n\nTrả về kết quả theo định dạng JSON sau:\n{\n  \"fullname\": \"Họ tên khách hàng\",\n  \"phone\": \"Số điện thoại\",\n  \"address\": \"Địa chỉ nhận hàng\",\n  \"age\": \"Độ tuổi (nếu có thể suy ra)\",\n  \"height\": \"Chiều cao\",\n  \"weight\": \"Cân nặng\",\n  \"products_interested\": \"Các sản phẩm khách quan tâm\",\n  \"message\": \"Tin nhắn phản hồi gửi cho khách\",\n  \"product\": [\n    {\n      \"title\": \"Tên sản phẩm\",\n      \"price\": \"Giá sản phẩm\",\n      \"image\": \"Đường dẫn ảnh sản phẩm (trong pinecone thì có cột link ảnh sản phẩm\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        80
      ],
      "id": "f961bef7-0d87-4c50-88ee-829f020b1460",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\"recipient\":{\n    \"id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"] }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\":{\n    \"text\":{{JSON.stringify($json.output.message)}}\n  } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -176
      ],
      "id": "aec166ae-8ef1-411f-a7ce-da6f80b033cf",
      "name": "HTTP Request",
      "credentials": {
        "facebookGraphApi": {
          "id": "daIRt8RpKc4mvqah",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        832
      ],
      "id": "bbc1f03b-5edc-446c-be37-d64d5190cf6b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R4u2zDSLYQvqpat3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ],
      "id": "c6742681-db77-461a-9cee-b09d5effab62",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8",
          "mode": "list",
          "cachedResultName": "ChatbotActivSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2069454533,
          "mode": "list",
          "cachedResultName": "Product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit#gid=2069454533"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -448
      ],
      "id": "978ec11b-a2f7-4e81-a404-fdabaaa3c948",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SfviIGa7NTZWTs4f",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2256,
        -448
      ],
      "id": "751f33df-9d71-42ed-9149-271c6ae2f5d5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2480,
        -448
      ],
      "id": "59d3014e-4ce3-4e88-9b80-4c42cc28218b",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "product",
          "mode": "list",
          "cachedResultName": "product"
        },
        "options": {
          "pineconeNamespace": "product_list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2656,
        -448
      ],
      "id": "3faa2c6b-e4fb-4ada-94f7-eb0a16b22d5e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kMm68ivurHPeQn7z",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2624,
        -32
      ],
      "id": "e3fd9613-ad1b-4500-af97-2f1ba34c13df",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "chunkOverlap": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2624,
        144
      ],
      "id": "1bc13dba-3c24-440e-b649-eb2323e565e4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2656,
        -192
      ],
      "id": "f510baaf-daab-42bf-a317-c686877fb21c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "R4u2zDSLYQvqpat3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this to get infomation product",
        "pineconeIndex": {
          "__rl": true,
          "value": "product",
          "mode": "list",
          "cachedResultName": "product"
        },
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "product_list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        224,
        448
      ],
      "id": "f7b2cb60-6e53-48d6-979c-b315abf2ff4f",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "kMm68ivurHPeQn7z",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        624
      ],
      "id": "5fbd0893-ea3e-4d85-8353-14bc6967b324",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "R4u2zDSLYQvqpat3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"fullname\": \"Họ tên khách hàng\",\n  \"phone\": \"Số điện thoại\",\n  \"address\": \"Địa chỉ nhận hàng\",\n  \"age\": \"Độ tuổi (nếu có thể suy ra)\",\n  \"height\": \"Chiều cao\",\n  \"weight\": \"Cân nặng\",\n  \"products_interested\": \"Các sản phẩm khách quan tâm\",\n  \"message\": \"Tin nhắn phản hồi gửi cho khách\",\n  \"product\": [\n    {\n      \"title\": \"Tên sản phẩm\",\n      \"price\": \"Giá sản phẩm\",\n      \"image\": \"Đường dẫn ảnh sản phẩm\"\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        736
      ],
      "id": "28ea1e68-7e4b-46ce-85e6-fa143795de87",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f387093-c2ff-458c-bb36-8354d7bda561",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        16
      ],
      "id": "ada4fe89-4d93-48f0-a084-0eff9fc6637b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff4b946-da2c-4ae4-b160-49934ac905c2",
              "name": "product",
              "value": "={{ $json.output.product }}",
              "type": "array"
            },
            {
              "id": "d3a6f0e0-1a98-4c9d-b267-ef097dd27156",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "c3886ea1-0255-4a33-937a-d8553a303ef0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const products = ($input.all())[0].json.product \n\nconst attachments = products.map(p => ({\n  type: \"image\",\n  payload: {\n    url: p.image\n  }\n}))\n\nreturn {attachments}; "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "2c9b2639-f89b-4e30-8064-2d9d38a7a253",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"]}}"
            },
            {
              "name": "message.attachments",
              "value": "={{ $json.attachments }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        0
      ],
      "id": "ea66855e-fe0e-43c5-b2d5-9a3fbdb84842",
      "name": "HTTP Request1",
      "credentials": {
        "facebookGraphApi": {
          "id": "daIRt8RpKc4mvqah",
          "name": "Facebook Graph account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        -448
      ],
      "id": "84e757c9-eb24-48b3-ac83-d648d74f8333",
      "name": "Build Docs"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8",
          "mode": "list",
          "cachedResultName": "ChatbotActivSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2143143359,
          "mode": "list",
          "cachedResultName": "Khách hàng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit#gid=2143143359"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UID": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
            "Họ Tên": "={{ $json.output.fullname }}",
            "Số Điện Thoại": "={{ $json.output.phone }}",
            "Địa chỉ": "={{ $json.output.address }}",
            "Độ tuổi": "={{ $json.output.age }}",
            "Chiều cao": "={{ $json.output.height }}",
            "Cân nặng": "={{ $json.output.weight }}",
            "Sản phẩm quan tâm": "={{ $json.output.products_interested }}"
          },
          "matchingColumns": [
            "UID"
          ],
          "schema": [
            {
              "id": "UID",
              "displayName": "UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Họ Tên",
              "displayName": "Họ Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số Điện Thoại",
              "displayName": "Số Điện Thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Địa chỉ",
              "displayName": "Địa chỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ tuổi",
              "displayName": "Độ tuổi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiều cao",
              "displayName": "Chiều cao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cân nặng",
              "displayName": "Cân nặng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chân dung khách hàng",
              "displayName": "Chân dung khách hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm quan tâm",
              "displayName": "Sản phẩm quan tâm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        208
      ],
      "id": "8656b164-a05e-4d5b-8e01-71dad863174e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SfviIGa7NTZWTs4f",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_customer_history",
          "mode": "list",
          "cachedResultName": "chat_customer_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
            "uid": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        384
      ],
      "id": "1a2179ec-621d-44e7-a19d-afd28259e4e0",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_customer_history",
          "mode": "list",
          "cachedResultName": "chat_customer_history"
        },
        "where": {
          "values": [
            {
              "column": "uid",
              "value": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        576
      ],
      "id": "7a4e9006-f1ea-4a7b-bcdb-bcd31b5a77b7",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "message, created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        576
      ],
      "id": "ebb9ef5c-9183-4ca9-b49f-43fddb6e075b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39c58e72-e34b-4f5f-9bb7-15ed4abc171d",
              "leftValue": "={{ $json.data }}",
              "rightValue": 5,
              "operator": {
                "type": "array",
                "operation": "lengthGte",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        576
      ],
      "id": "44d503a3-2ceb-4a44-b8cb-4bfc1dbe8c9f",
      "name": "If1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1312,
        560
      ],
      "id": "ec1fed08-e801-4e71-a4d2-c3161e5fbc27",
      "name": "Summarize1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Đây là tin nhắn của khách hàng đã nhắn tin cho shop. Dựa vào các tin nhắn này, bạn hãy tóm tắt chân dung khách hàng về sở thích, yêu cầu, tính cách, vóc dáng, chiều cao, cần nặng, độ tuổi và các thông tin khác"
            },
            {
              "content": "={{ $('Summarize1').item.json.concatenated_data }}"
            },
            {
              "content": "={{ $json[\"Chân dung khách hàng\"] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1728,
        560
      ],
      "id": "835e241d-ffd3-4f67-881d-ea077929d361",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "R4u2zDSLYQvqpat3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8",
          "mode": "list",
          "cachedResultName": "ChatbotActivSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2143143359,
          "mode": "list",
          "cachedResultName": "Khách hàng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit#gid=2143143359"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UID": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
            "Chân dung khách hàng": "={{ $json.output[0].content }}"
          },
          "matchingColumns": [
            "UID"
          ],
          "schema": [
            {
              "id": "UID",
              "displayName": "UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Họ Tên",
              "displayName": "Họ Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số Điện Thoại",
              "displayName": "Số Điện Thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Địa chỉ",
              "displayName": "Địa chỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ tuổi",
              "displayName": "Độ tuổi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiều cao",
              "displayName": "Chiều cao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cân nặng",
              "displayName": "Cân nặng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chân dung khách hàng",
              "displayName": "Chân dung khách hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm quan tâm",
              "displayName": "Sản phẩm quan tâm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        560
      ],
      "id": "8e9db0aa-3eb5-4f42-887f-56b5b2e91b10",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SfviIGa7NTZWTs4f",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_customer_history",
          "mode": "list",
          "cachedResultName": "chat_customer_history"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "uid",
              "value": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        560
      ],
      "id": "f178ed56-edd8-4383-8387-88b4454b6281",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8",
          "mode": "list",
          "cachedResultName": "ChatbotActivSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2143143359,
          "mode": "list",
          "cachedResultName": "Khách hàng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit#gid=2143143359"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "UID",
              "lookupValue": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        560
      ],
      "id": "c8e43145-a773-49a5-8279-8a122d9d56fb",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SfviIGa7NTZWTs4f",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const time_send = $input.first().json.body.entry[0].time \nconst time_message = $input.first().json.body.entry[0].messaging[0].timestamp\n\nconst diff = time_send- time_message;\n\nreturn [{\n  json: {\n    timeDiffms: diff,\n    isValid: diff < 5000\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        96
      ],
      "id": "7e2f48f1-1d89-4eca-8858-e68bbd62cdbc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c861227b-007e-47ce-8b5e-aba35ce54375",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        96
      ],
      "id": "00feaa4d-5eb6-4c4a-a98b-d1e82bb580e8",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Build Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Docs": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a2849042-146d-4fe2-9125-7ed54699a982",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41e49f29cafdfc4ce0bd59d40e7d7bda8c2d2148c515095698e03d3f19dd2937"
  },
  "id": "PIn9axetbEIfLjna",
  "tags": []
}