Workflow.json
{
  "name": "Workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "callbackfacebook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1824,
        -544
      ],
      "id": "54c224cb-4667-4340-b5b4-edfb80f86e3e",
      "name": "Webhook",
      "webhookId": "b08d578c-a56b-4523-b790-ae7cb06d9e1e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "Bạn là trợ lý tư vấn bán hàng của Activ.\n\nMục tiêu:\n- tư vấn đúng nhu cầu khách\n- chỉ dùng dữ liệu từ tool và context workflow\n- trả lời ngắn gọn, tự nhiên, lịch sự\n- thu hẹp nhu cầu rồi mới xin thông tin mua hàng\n\nNguyên tắc chung:\n- Nếu phù hợp, xưng hô \"em chào anh/chị\" và giới thiệu là \"trợ lý tư vấn Activ\".\n- Khách hỏi tiếng Việt thì trả lời tiếng Việt. Khách hỏi tiếng Anh thì trả lời tiếng Anh.\n- Không bịa sản phẩm, tồn kho, giá, size, link ảnh, link web hay thông tin khách hàng.\n- Nếu chưa chắc, hỏi lại 1 câu ngắn để làm rõ.\n\nQuy tắc sản phẩm:\n- Chỉ giới thiệu sản phẩm có trong tool.\n- Nếu khách hỏi bằng text về tên sản phẩm, thương hiệu, dòng sản phẩm, form, nhu cầu sử dụng, size hoặc muốn xem mẫu, ưu tiên dùng tool `PG_Search_Products`.\n- Nếu `PG_Search_Products` trả `total = 0` hoặc `items = []`, không được lặp lại sản phẩm cũ. Hãy báo chưa tìm thấy mẫu phù hợp và hỏi lại nhu cầu.\n- Nếu tool đã trả danh sách mới, phải ưu tiên danh sách mới thay vì lặp lại danh sách cũ trong lịch sử chat.\n- Không gửi lại hình ảnh sản phẩm đã chia sẻ trước đó nếu không thật sự cần.\n- Khi đang tư vấn và tool đã trả về 1 đến 3 sản phẩm phù hợp có ảnh công khai, hãy điền luôn mảng `product` để workflow có thể gửi carousel, kể cả khi khách mới đang hỏi mẫu hoặc hỏi có sản phẩm nào phù hợp.\n- `message` nên chia thành các đoạn ngắn dễ đọc; ưu tiên 1 đến 2 câu mỗi đoạn.\n\nQuy tắc ảnh:\n- Nếu khách yêu cầu xem ảnh, hình, mẫu, ảnh sản phẩm, ảnh thật hoặc catalogue, mảng `product` phải có từ 1 đến 3 sản phẩm hợp lệ nếu tool có dữ liệu phù hợp.\n- Trường `image` chỉ được lấy từ link ảnh sản phẩm công khai do tool trả về.\n- Không được dùng `website_url` để điền vào `image`.\n- Nếu tool có link web chi tiết, điền vào `website_url` để workflow gắn link mở trang sản phẩm.\n- Mỗi item trong `product` phải là một biến thể cụ thể. Không gộp nhiều size vào một item.\n\nQuy tắc ảnh khách gửi:\n- Nếu khách gửi ảnh sản phẩm hoặc hỏi dựa trên ảnh vừa gửi, ưu tiên dùng nhánh image search của workflow.\n- Chỉ chọn sản phẩm khi candidate đủ hợp lý theo context ảnh và câu khách hỏi.\n- Nếu chưa đủ chắc, nói ngắn gọn rằng cần thêm ảnh khác hoặc tên mẫu hoặc nhu cầu để xác nhận chính xác hơn.\n\nQuy tắc tồn kho:\n- Với mọi câu hỏi như còn hàng không, còn size không, hết hàng chưa, còn bao nhiêu, có ship từ khu vực nào, phải dùng tool kiểm tra tồn kho.\n- Chỉ kiểm tra tồn kho sau khi đã xác định được sản phẩm hoặc nhóm sản phẩm đủ rõ.\n- Không tự suy đoán tồn kho.\n- Diễn giải:\n  + `available > 0`: còn hàng\n  + `available = 0`: hết hàng hoặc chưa bán được ngay\n\nQuy tắc khai thác nhu cầu:\n- Tự suy luận theo ngữ nghĩa tổng thể, không phụ thuộc vào bộ từ khóa cố định.\n- Vẫn phải hiểu câu viết tắt, sai chính tả, tiếng lóng, hoặc trộn Việt/Anh nếu có thể.\n- Khi phù hợp, hỏi ngắn gọn về mục đích sử dụng, phong cách, size, chiều cao, cân nặng, khu vực nhận hàng để thu hẹp nhu cầu.\n\nQuy tắc lead qualification:\n- `has_clear_need = true` khi đã xác định được sản phẩm hoặc nhu cầu khá rõ và có ít nhất 1 thông tin thu hẹp như size, giá, tồn kho, khu vực, số lượng hoặc mục đích sử dụng.\n- `lead_status = interested` khi khách có dấu hiệu quan tâm thực sự.\n- `lead_status = qualified` khi khách có nhu cầu rõ và triển vọng mua cao.\n- Không đánh dấu `qualified` chỉ vì khách hỏi giá một lần.\n- `ask_for_phone_now = true` khi khách đã có nhu cầu rõ nhưng chưa có số điện thoại.\n- `handoff_ready = true` chỉ khi thỏa đồng thời:\n  + khách đã có nhu cầu đủ rõ để chuyển cho người thật\n  + đã có số điện thoại hợp lệ trong `phone`\n  + và có một trong các tín hiệu sau: muốn người thật liên hệ, muốn chốt đơn, muốn được gọi lại, muốn tư vấn thêm bởi sale, hoặc bot không nên xử lý tiếp một mình\n- Nếu chưa có số điện thoại thì phải để `handoff_ready = false`.\n- Nếu khách mới hỏi giá, hỏi ảnh, hỏi size, hỏi tồn kho hoặc mới tham khảo ban đầu thì mặc định `handoff_ready = false`.\n- `handoff_reason` phải ngắn gọn, cụ thể, ví dụ: `khach da co nhu cau ro va de lai sdt`, `khach muon sale goi lai`, `khach muon chot don`.\n- Nếu khách nói rõ không cần nữa, không mua nữa hoặc dừng nhu cầu thì đặt `lead_status = not_interested`.\n- Map nhanh `customer_stage`:\n  + chưa rõ nhu cầu -> `new` hoặc `discovering`\n  + đã hỏi giá hoặc đã được báo tồn kho -> `quoted`\n  + đã có nhu cầu rõ nhưng chưa có số điện thoại -> `waiting_phone`\n  + đã có nhu cầu rõ và có triển vọng cao -> `qualified`\n  + đã sẵn sàng chuyển cho người thật xử lý -> `handoff_ready`\n\nQuy tắc xin thông tin:\n- Không hỏi thông tin cá nhân quá sớm.\n- Khi nhu cầu đã đủ rõ hoặc khách có ý định mua, xin dần các thông tin còn thiếu: họ tên, số điện thoại, địa chỉ.\n- Nếu lịch sử chat đã có thông tin đó thì ưu tiên xác nhận lại, không hỏi lặp.\n\nQuy tắc đặt hàng:\n- Khi khách muốn đặt hàng, cần đủ: họ tên, số điện thoại, địa chỉ nhận hàng, sản phẩm cụ thể, size hoặc biến thể cụ thể nếu có, và số lượng.\n- Nếu thiếu thì hỏi tiếp ngắn gọn, lịch sự.\n- Khi đã đủ thông tin, xác nhận lại đơn thật ngắn trước khi coi là chốt.\n- Chỉ coi là chốt đơn khi khách xác nhận rõ ràng.\n\nQuy tắc ticket nội bộ:\n- AI không tự tạo đơn hàng thật.\n- AI không tự khẳng định đã tạo ticket nếu khách chưa xác nhận.\n- Với luồng GMF handoff, chỉ để `handoff_ready = true` khi bot đã có đủ cơ sở để tạo ticket nội bộ cho sale xử lý.\n- Nếu khách chưa để lại số điện thoại, ưu tiên xin số điện thoại thay vì đẩy ticket.\n- Khi đã đủ điều kiện handoff, `message` nên nói ngắn gọn theo hướng: shop đã ghi nhận nhu cầu và sẽ để tư vấn viên liên hệ sớm.\n\nQuy tắc output, rất quan trọng:\n- Câu trả lời cuối cùng phải là đúng 1 JSON object duy nhất.\n- JSON phải ở root, bắt đầu bằng `{` và kết thúc bằng `}`.\n- Không được bọc trong `output`, `result`, `data` hay bất kỳ key bao ngoài nào.\n- Không được trả về markdown, code block, giải thích, tiêu đề hay văn bản ngoài JSON.\n- Không được trả về chuỗi JSON đã escape.\n- Nếu chưa có dữ liệu thì dùng chuỗi rỗng, `false`, `0` hoặc mảng rỗng tương ứng.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2032,
        80
      ],
      "id": "f961bef7-0d87-4c50-88ee-829f020b1460",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2032,
        480
      ],
      "id": "bbc1f03b-5edc-446c-be37-d64d5190cf6b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R4u2zDSLYQvqpat3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.memory_scope || (($json.channel || 'chat') + ':' + ($json.page_id || $json.group_id || $json.oa_id || 'main') + ':' + ($json.sender_id || $json.uid || $json.user_id || '')) }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2128,
        352
      ],
      "id": "c6742681-db77-461a-9cee-b09d5effab62",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhook = $json.body ?? {};\nconst entries = Array.isArray(webhook.entry) ? webhook.entry : [];\nconst output = [];\n\nfor (const entry of entries) {\n  const pageId = String(entry.id ?? '').trim();\n  const entryTime = Number(entry.time ?? 0);\n  const messagingList = Array.isArray(entry.messaging) ? entry.messaging : [];\n\n  for (let index = 0; index < messagingList.length; index += 1) {\n    const messaging = messagingList[index] ?? {};\n    const senderId = String(messaging.sender?.id ?? '').trim();\n    const recipientId = String(messaging.recipient?.id ?? '').trim();\n\n    const hasRead = !!messaging.read;\n    const hasDelivery = !!messaging.delivery;\n    const hasReaction = !!messaging.reaction;\n    const hasPostback = !!messaging.postback;\n    const hasMessage = !!messaging.message && typeof messaging.message === 'object';\n\n    if (hasRead || hasDelivery || hasReaction || hasPostback) {\n      continue;\n    }\n\n    if (!hasMessage) {\n      continue;\n    }\n\n    const message = messaging.message;\n    const isEcho = Boolean(message.is_echo);\n\n    if (isEcho || (senderId && pageId && senderId === pageId)) {\n      continue;\n    }\n\n    const text = String(message.text ?? '').trim();\n    const attachments = Array.isArray(message.attachments) ? message.attachments : [];\n    const imageAttachments = attachments.filter((item) => item?.type === 'image');\n    const imageUrls = imageAttachments\n      .map((item) => String(item?.payload?.url ?? '').trim())\n      .filter(Boolean);\n\n    if (!text && imageUrls.length === 0) {\n      continue;\n    }\n\n    const eventTimestamp = Number(messaging.timestamp ?? 0);\n    const diff = entryTime && eventTimestamp ? entryTime - eventTimestamp : 0;\n    const fallbackMid = [pageId, senderId, eventTimestamp || Date.now(), index].join(':');\n    const mid = String(message.mid ?? fallbackMid).trim();\n\n    output.push({\n      json: {\n        channel: 'facebook',\n        event_type: 'message',\n        page_id: pageId,\n        sender_id: senderId,\n        recipient_id: recipientId,\n        source_message_id: mid,\n        message_text: text,\n        has_image_attachment: imageUrls.length > 0,\n        image_url: imageUrls[0] || '',\n        image_urls: imageUrls,\n        attachment_count: imageUrls.length,\n        raw_attachments: imageAttachments,\n        timeDiffms: diff,\n        isValid: !!senderId && !!recipientId,\n        event_timestamp_iso: eventTimestamp\n          ? new Date(eventTimestamp).toISOString()\n          : new Date().toISOString(),\n        raw_event: {\n          entry_id: pageId,\n          entry_time: entryTime,\n          messaging,\n        },\n      },\n    });\n  }\n}\n\nreturn output.length\n  ? output\n  : [{ json: { isValid: false, event_type: 'ignored', skip_reason: 'no_customer_message_events' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -304
      ],
      "id": "7e2f48f1-1d89-4eca-8858-e68bbd62cdbc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c861227b-007e-47ce-8b5e-aba35ce54375",
              "leftValue": "={{ $json.isValid }}\n",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "05f1cdc8-0e92-4080-89d2-2f917f2c42b3",
              "leftValue": "={{ $json.event_type ?? '' }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        -304
      ],
      "id": "00feaa4d-5eb6-4c4a-a98b-d1e82bb580e8",
      "name": "If2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8",
          "mode": "list",
          "cachedResultName": "ChatbotActivSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Kịch bản",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140CCsH78LXSNZJ2zG1M82Xzzic6n-zrHy-lJCs4dhN8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2672,
        272
      ],
      "id": "5f1fd313-2396-49ed-9dc1-1779a16d52b6",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SfviIGa7NTZWTs4f",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd9d0e06-71f2-463a-b7aa-dd8f1bc7d2e5",
              "leftValue": "={{ !!$json.has_image_attachment && !!$json.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -384
      ],
      "id": "2b1afa34-ed2e-4e71-9905-8bf56d5fa05c",
      "name": "If Has Image Attachment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08e0cce7-0a72-4e91-8903-00b31590196b",
              "name": "sender_id",
              "value": "={{ $json.sender_id }}",
              "type": "string"
            },
            {
              "id": "4888ce6a-0f20-4617-8670-9a51f216db15",
              "name": "customer_image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            },
            {
              "id": "4e6e3a99-7959-45cd-961c-071d1521f265",
              "name": "customer_message",
              "value": "={{ $json.message_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -560
      ],
      "id": "0bb334b5-18b4-4080-8ec2-830623787ccd",
      "name": "Set Customer Image Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ticketboxhdpe.io.vn/embed-image-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.customer_image_url }}\",\n  \"normalize\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        -560
      ],
      "id": "8826ce79-77bf-4b8d-a88a-dbe23c060968",
      "name": "HTTP Embed Customer Image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01846af1-f5f2-4715-9832-7336ff3711b2",
              "leftValue": "={{ Array.isArray($json.embedding) && $json.dimension === 512 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        -560
      ],
      "id": "fb9b8871-e6db-45ab-8a03-ccd8b78186a0",
      "name": "If Customer Embedding Valid"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eddc4456-5c91-4a56-b225-d10d598282ec",
              "name": "sender_id",
              "value": "={{ $('Set Customer Image Payload').item.json.sender_id }}",
              "type": "string"
            },
            {
              "id": "5d9bbafc-c3f1-4662-98df-00dfb1092e62",
              "name": "customer_image_url",
              "value": "={{ $('Set Customer Image Payload').item.json.customer_image_url }}",
              "type": "string"
            },
            {
              "id": "ccb0ee40-c6ab-4aab-a30b-46397d56bf1d",
              "name": "customer_message",
              "value": "={{ $('Set Customer Image Payload').item.json.customer_message }}",
              "type": "string"
            },
            {
              "id": "04a0ffa7-7f12-47b6-a18c-51a039fdbfaf",
              "name": "query_vector",
              "value": "={{ '[' + $json.embedding.join(',') + ']' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -352
      ],
      "id": "ab28a8d6-2238-46d4-801b-a7da658b1f88",
      "name": "Set Customer Query Vector"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with ranked as (\n  select\n    product_id,\n    image_url,\n    metadata,\n    1 - (embedding <=> $1::vector) as vector_similarity\n  from public.product_image_vectors\n  order by embedding <=> $1::vector\n  limit 5\n)\nselect\n  $2::text as sender_id,\n  $3::text as customer_image_url,\n  $4::text as customer_message,\n  coalesce(\n    json_agg(\n      json_build_object(\n        'product_id', product_id,\n        'image_url', image_url,\n        'metadata', metadata,\n        'vector_similarity', round(vector_similarity::numeric, 6)\n      )\n      order by vector_similarity desc\n    ),\n    '[]'::json\n  ) as candidates\nfrom ranked;",
        "options": {
          "queryReplacement": "={{ [\n  $json.query_vector,\n  $json.sender_id,\n  $json.customer_image_url,\n  $json.customer_message || ''\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        -352
      ],
      "id": "490a7e71-c53d-493f-adc7-a769a6f85338",
      "name": "PG Search Top K Products",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select *\nfrom public.merge_facebook_conversation_event(\n  $1::text,\n  $2::text,\n  $3::text,\n  $4::text,\n  $5::text,\n  $6::jsonb,\n  $7::timestamptz,\n  $8::jsonb,\n  $9::integer\n);",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel || \"facebook\",\n  $json.page_id,\n  $json.sender_id,\n  $json.source_message_id,\n  $json.message_text || \"\",\n  JSON.stringify($json.image_urls || []),\n  $json.event_timestamp_iso,\n  JSON.stringify($json.raw_event || {}),\n  15\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1216,
        -304
      ],
      "id": "bf0720aa-1a70-4918-b69f-0bda57ea058f",
      "name": "PG Merge Facebook Conversation Buffer",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "19f96ebf-4ee6-4d3c-bd8b-06089f000c91",
              "leftValue": "={{ !$json.is_duplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        -304
      ],
      "id": "725baa82-2495-478e-817b-6f6be9d0efec",
      "name": "If Facebook Buffer Updated"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  channel,\n  page_id,\n  sender_id,\n  merged_text,\n  image_urls,\n  first_event_at,\n  last_event_at,\n  release_at,\n  fragment_count,\n  buffer_version,\n  status,\n  last_mid,\n  (buffer_version = $4::integer and status = 'buffering') as is_latest\nfrom public.fb_conversation_buffer\nwhere channel = $1::text\n  and page_id = $2::text\n  and sender_id = $3::text\nlimit 1;",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel,\n  $json.page_id,\n  $json.sender_id,\n  Number($json.buffer_version || 0)\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        -528
      ],
      "id": "3d9344a7-8c83-4c7f-a1be-97c62ee4e01c",
      "name": "PG Load Facebook Conversation Buffer",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 18
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -816,
        -528
      ],
      "id": "df3606a6-b277-486c-ae3f-ffe654f7a0e8",
      "name": "Wait Conversation Window",
      "webhookId": "520526ab-3283-4387-8aa9-08cbf297af8b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c01f8440-87f8-4324-b5ff-3727fc6609a2",
              "leftValue": "={{ !!$json.is_latest }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -528
      ],
      "id": "5051f415-53e6-4ccc-817f-87e61f27d32b",
      "name": "If Latest Conversation Buffer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.fb_conversation_buffer\nset status = 'processed',\n    processed_at = now(),\n    updated_at = now()\nwhere channel = $1::text\n  and page_id = $2::text\n  and sender_id = $3::text\n  and buffer_version = $4::integer\n  and status = 'buffering'\nreturning channel,\n  page_id,\n  sender_id,\n  merged_text,\n  image_urls,\n  first_event_at,\n  last_event_at,\n  release_at,\n  fragment_count,\n  buffer_version,\n  status,\n  last_mid,\n  processed_at,\n  updated_at;",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel,\n  $json.page_id,\n  $json.sender_id,\n  Number($json.buffer_version || 0)\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -672
      ],
      "id": "df3c1a2f-9ce8-45da-bec2-64f0c3eb5275",
      "name": "PG Mark Facebook Conversation Buffer Processed",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseArray = (value) => {\n  if (Array.isArray(value)) return value.map((item) => String(item || '').trim()).filter(Boolean);\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      if (Array.isArray(parsed)) {\n        return parsed.map((item) => String(item || '').trim()).filter(Boolean);\n      }\n    } catch {}\n  }\n  return [];\n};\n\nconst dedupeLines = (value) => {\n  const seen = new Set();\n  return String(value || '')\n    .split(/\\n+/)\n    .map((item) => String(item || '').trim())\n    .filter(Boolean)\n    .filter((line) => {\n      const key = line.toLowerCase();\n      if (seen.has(key)) return false;\n      seen.add(key);\n      return true;\n    })\n    .join('\\n');\n};\n\nconst imageUrls = parseArray($json.image_urls);\nconst firstImage = imageUrls.find(Boolean) || '';\n\nreturn [{\n  json: {\n    channel: $json.channel,\n    page_id: $json.page_id,\n    sender_id: $json.sender_id,\n    message_text: dedupeLines($json.merged_text),\n    has_image_attachment: imageUrls.length > 0,\n    image_url: firstImage,\n    image_urls: imageUrls,\n    attachment_count: imageUrls.length,\n    fragment_count: Number($json.fragment_count || 0),\n    buffer_version: Number($json.buffer_version || 0),\n    source_message_id: String($json.last_mid || ''),\n    first_event_at: $json.first_event_at,\n    last_event_at: $json.last_event_at,\n    is_buffered: true,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -544
      ],
      "id": "be64fb44-8e7d-4197-8349-5a40fa4714de",
      "name": "Set Buffered Conversation Context"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1376,
        -544
      ],
      "id": "7d649919-e201-4b61-b374-2cd956bced91",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1648,
        -144
      ],
      "id": "376c24f4-5f49-4bea-9210-f4e17b21ee67",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "description": "Dùng tool này khi khách hỏi về tồn kho, còn hàng không, còn size không, hết hàng chưa, còn bao nhiêu, hoặc muốn kiểm tra hàng theo khu vực gần khách.\n\nTool này tự xử lý toàn bộ quy trình:\n- xác định kho phù hợp theo thành phố và quận/huyện của khách nếu có\n- ưu tiên kho gần khu vực khách\n- gọi hệ thống Nhanh để kiểm tra tồn kho sản phẩm\n- trả về kết quả tồn kho đã được tổng hợp\n\nInput:\n- product_query: tên hoặc mã sản phẩm cần kiểm tra tồn kho\n- city_query: thành phố của khách nếu có, ví dụ Ho Chi Minh, Ha Noi, Da Nang\n- district_query: quận/huyện của khách nếu có, ví dụ Binh Thanh, Cau Giay\n- max_results: số lượng kết quả tối đa cần trả về\n\nTool sẽ trả về:\n- ok: true/false\n- matched_depot_ids: danh sách kho phù hợp với khu vực khách\n- applied_depot_ids: danh sách kho thực tế dùng để kiểm tra tồn kho\n- available_count: số biến thể còn hàng\n- available_items: các biến thể còn hàng\n- items: toàn bộ kết quả tồn kho\n\nCách hiểu kết quả:\n- available_count > 0: có hàng ở kho phù hợp\n- available_count = 0: không có hàng ở kho phù hợp hoặc sản phẩm đang hết\n- nếu matched_depot_ids rỗng thì tool sẽ fallback sang kiểm tra toàn hệ thống\n\nKhông dùng tool này cho báo giá, tạo đơn, hay gửi ticket.\nNếu ok = false thì không được tự đoán tồn kho.\nNếu chưa có product_query rõ ràng thì cần hỏi lại tên hoặc mã sản phẩm trước khi gọi tool.",
        "workflowId": {
          "__rl": true,
          "value": "2cKsBLk5DOGKJywA",
          "mode": "list",
          "cachedResultUrl": "/workflow/2cKsBLk5DOGKJywA",
          "cachedResultName": "Nhanh_Check_Inventory_By_Location"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "product_query": "={{ $json.product_query }}",
            "max_results": "={{ $json.max_results }}",
            "city_query": "={{ $json.city_query }}",
            "district_query": "={{ $json.district_query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_query",
              "displayName": "product_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_results",
              "displayName": "max_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "city_query",
              "displayName": "city_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "district_query",
              "displayName": "district_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2480,
        528
      ],
      "id": "88ea2490-9246-4070-bd88-e04c73913919",
      "name": "Call 'Nhanh_Check_Inventory_By_Location'"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer_phase_state",
          "mode": "list",
          "cachedResultName": "customer_phase_state"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "channel",
              "value": "={{ $('Set Buffered Conversation Context').first().json.channel || 'facebook' }}"
            },
            {
              "column": "page_id",
              "value": "={{ $('Set Buffered Conversation Context').first().json.page_id || '' }}"
            },
            {
              "column": "sender_id",
              "value": "={{ $('Set Buffered Conversation Context').first().json.sender_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        -176
      ],
      "id": "d671f98f-fef4-4ec4-88dd-8eb818667aec",
      "name": "PG Get Lead State",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b28840c-4575-40f1-99e7-13b9d2495e81",
              "name": "=prev_customer_stage",
              "value": "={{ $json.customer_stage || 'new' }}",
              "type": "string"
            },
            {
              "id": "e65b028c-60ca-478a-a8c4-7d3046269e90",
              "name": "prev_lead_status",
              "value": "={{ $json.lead_status || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "201e18d1-859a-4937-8d28-2f1585df8b7a",
              "name": "prev_intent_score",
              "value": "={{ Number($json.intent_score || 0) }}",
              "type": "string"
            },
            {
              "id": "5c9bed8f-7776-4df8-878a-80ebb5105000",
              "name": "prev_has_clear_need",
              "value": "={{ Boolean($json.has_clear_need) }}",
              "type": "string"
            },
            {
              "id": "feeec825-589a-498d-b0a7-a5f7c769342e",
              "name": "prev_ask_for_phone_now",
              "value": "={{ Boolean($json.ask_for_phone_now) }}",
              "type": "string"
            },
            {
              "id": "b6fef599-0493-4329-ba91-181775e62277",
              "name": "prev_handoff_ready",
              "value": "={{ Boolean($json.handoff_ready) }}",
              "type": "string"
            },
            {
              "id": "81756c38-958b-4ab0-b0bb-60c77ac05cdc",
              "name": "prev_handoff_created",
              "value": "={{ Boolean($json.handoff_created) }}",
              "type": "string"
            },
            {
              "id": "2cbb113e-9ca0-41c0-bb60-0bad4d200920",
              "name": "prev_phone_capture_status",
              "value": "={{ $json.phone_capture_status || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "31167515-a41f-4fd7-9958-bddded1b6c72",
              "name": "prev_handoff_reason",
              "value": "={{ $json.handoff_reason || '' }}",
              "type": "string"
            },
            {
              "id": "d4ab3b83-76f5-49bd-a7be-345eed78b8b7",
              "name": "prev_need_summary",
              "value": "={{ $json.need_summary || '' }}",
              "type": "string"
            },
            {
              "id": "17b03ee1-9840-42d5-8606-f5868bd6e7a8",
              "name": "prev_products_interested",
              "value": "={{ $json.products_interested || '' }}",
              "type": "string"
            },
            {
              "id": "ac73af9e-3273-4275-b0e6-c217fef2d49d",
              "name": "prev_fullname",
              "value": "={{ $json.fullname || '' }}",
              "type": "string"
            },
            {
              "id": "7b4d4883-089e-44c3-98a0-e8f9bb6741c9",
              "name": "prev_phone",
              "value": "={{ $json.phone || '' }}",
              "type": "string"
            },
            {
              "id": "5d131a6a-51f4-4000-a322-e91a70b73f3c",
              "name": "prev_address",
              "value": "={{ $json.address || '' }}",
              "type": "string"
            },
            {
              "id": "44561dba-5b42-4480-a39e-f4a329552357",
              "name": "prev_customer_city",
              "value": "={{ $json.customer_city || '' }}",
              "type": "string"
            },
            {
              "id": "e55e17c4-2d37-414d-bf35-95a07c2cc9ed",
              "name": "prev_customer_district",
              "value": "={{ $json.customer_district || '' }}",
              "type": "string"
            },
            {
              "id": "9806f26c-4816-4268-9f9d-8b433301ab3b",
              "name": "prev_quoted_at",
              "value": "={{ $json.quoted_at || null }}",
              "type": "string"
            },
            {
              "id": "baeb0e76-075e-4e12-8286-7638080c11c4",
              "name": "prev_asked_phone_at",
              "value": "={{ $json.asked_phone_at || null }}",
              "type": "string"
            },
            {
              "id": "d74bc197-6597-481e-8fad-ede18700f92c",
              "name": "prev_first_seen_at",
              "value": "={{ $json.first_seen_at || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -176
      ],
      "id": "a7572dfc-d103-4d6e-89b1-d07e23606a85",
      "name": "Edit Fields Prev Lead State"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        -192
      ],
      "id": "d0aec8f3-2da8-42d4-907b-b4425d232665",
      "name": "Merge Context + Prev Lead State"
    },
    {
      "parameters": {
        "jsCode": "const normalize = (value) => String(value || '')\n  .normalize('NFD')\n  .replace(/[đĐ]/g, 'd')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst STOP_WORDS = new Set([\n  'anh', 'ban', 'ben', 'chi', 'cho', 'co', 'con', 'dang', 'dat', 'de', 'di', 'do', 'doi', 'duoc', 'em', 'form',\n  'giup', 'gui', 'hang', 'khac', 'khong', 'kia', 'lay', 'la', 'loai', 'mau', 'minh', 'mot',\n  'muon', 'nao', 'nay', 'ngoai', 'nha', 'nhe', 'nhu', 'noi', 'qua', 'ra', 'roi', 'san', 'shop', 'size',\n  'so', 'tai', 'tay', 'the', 'thao', 'thay', 'thun', 'toi', 'va', 'voi', 'xem', 'xin', 'ao',\n  'dong', 'ho', 'gps', 'giay', 'quan', 'pham', 'silicone', 'green', 'brown', 'dark', 'grey',\n  'black', 'white', 'nam', 'nu', 'main', 'pace', 'nomad'\n]);\n\nconst tokenizeMeaningful = (value) => Array.from(new Set(\n  normalize(value)\n    .split(' ')\n    .filter((token) => token && token.length >= 3 && !STOP_WORDS.has(token) && !/^\\d+$/.test(token))\n));\n\nconst messageText = String($json.message_text || $json.customer_message || '').trim();\nconst normalizedText = normalize(messageText);\nconst prevProducts = String($json.prev_products_interested || $json.products_interested || '').trim();\nconst prevNeedSummary = String($json.prev_need_summary || $json.need_summary || '').trim();\nconst prevFullname = String($json.prev_fullname || $json.fullname || '').trim();\nconst prevPhone = String($json.prev_phone || $json.phone || '').trim();\nconst prevAddress = String($json.prev_address || $json.address || '').trim();\n\nconst explicitResetPatterns = [\n  /san pham khac/,\n  /mau khac/,\n  /y toi muon dat san pham khac/,\n  /toi muon dat san pham khac/,\n  /doi sang/,\n  /chuyen sang/,\n  /thay vi/,\n  /khong phai (?:cai )?(?:do|nay)/,\n  /ngoai ra/,\n  /con [a-z0-9 ]*khac khong/,\n  /co [a-z0-9 ]*khac khong/,\n  /gui [a-z0-9 ]*khac/,\n  /xem [a-z0-9 ]*khac/,\n];\n\nconst productSearchSignal = (Boolean(normalizedText) && [\n  /ao\\b/,\n  /dong ho/,\n  /giay\\b/,\n  /quan\\b/,\n  /san pham/,\n  /mau\\b/,\n  /size\\b/,\n  /form\\b/,\n  /catalog/,\n  /norda/,\n  /coros/,\n  /altra/,\n  /thun\\b/,\n].some((pattern) => pattern.test(normalizedText))) || Boolean($json.has_image_attachment);\n\nconst prevProductTokens = tokenizeMeaningful(prevProducts);\nconst messageTopicTokens = tokenizeMeaningful(messageText);\nconst overlapCount = messageTopicTokens.filter((token) => prevProductTokens.includes(token)).length;\nconst explicitReset = explicitResetPatterns.some((pattern) => pattern.test(normalizedText));\nconst mentionsDifferentProduct = Boolean(prevProductTokens.length) && Boolean(messageTopicTokens.length) && productSearchSignal && overlapCount === 0;\nconst genericCatalogRefresh = Boolean(prevProductTokens.length) && /(san pham|mau|catalog|lookbook)/.test(normalizedText) && messageTopicTokens.length === 0;\nconst conversationReset = explicitReset || mentionsDifferentProduct || genericCatalogRefresh;\nconst conversationResetReason = explicitReset\n  ? 'explicit_new_product_request'\n  : (mentionsDifferentProduct ? 'new_topic_vs_previous_product' : (genericCatalogRefresh ? 'generic_catalog_refresh' : ''));\nconst browseProductsSignal = productSearchSignal && [\n  /dang co/,\n  /co san pham/,\n  /san pham nao/,\n  /co mau/,\n  /mau nao/,\n  /co dong/,\n  /co loai/,\n  /goi y/,\n  /tu van/,\n  /phu hop/,\n  /tim [a-z0-9 ]*mau/,\n].some((pattern) => pattern.test(normalizedText));\n\nconst baseSessionKey = [\n  String($json.channel || 'chat').trim() || 'chat',\n  String($json.page_id || $json.group_id || $json.oa_id || 'main').trim() || 'main',\n  String($json.sender_id || $json.uid || $json.user_id || '').trim(),\n].join(':');\n\nlet topicTokens = prevProductTokens;\nif (conversationReset) {\n  topicTokens = messageTopicTokens.length > 0 ? messageTopicTokens : [];\n} else if (!topicTokens.length && messageTopicTokens.length > 0) {\n  topicTokens = messageTopicTokens;\n}\n\nlet memoryTopic = topicTokens.slice(0, 4).join('-');\nif (!memoryTopic) {\n  const fallback = String($json.source_message_id || $json.buffer_version || 'main')\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '')\n    .slice(-16) || 'main';\n  memoryTopic = conversationReset ? `fresh-${fallback}` : 'main';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    conversation_reset: conversationReset,\n    conversation_reset_reason: conversationResetReason,\n    product_search_signal: productSearchSignal,\n    browse_products_signal: browseProductsSignal,\n    prompt_prev_customer_stage: conversationReset ? 'new' : String($json.prev_customer_stage || 'new'),\n    prompt_prev_lead_status: conversationReset ? 'unknown' : String($json.prev_lead_status || 'unknown'),\n    prompt_prev_need_summary: conversationReset ? '' : prevNeedSummary,\n    prompt_prev_products_interested: conversationReset ? '' : prevProducts,\n    prompt_known_fullname: conversationReset ? '' : prevFullname,\n    prompt_known_phone: conversationReset ? '' : prevPhone,\n    prompt_known_address: conversationReset ? '' : prevAddress,\n    memory_scope: `${baseSessionKey}:topic:${memoryTopic}`,\n    message_topic_tokens: messageTopicTokens.join(', '),\n    prev_product_tokens: prevProductTokens.join(', '),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -192
      ],
      "id": "4f981426-2b9c-4db4-bb82-1ef52bfaacfd",
      "name": "Set Conversation Scope"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92624e66-bc80-46e7-bec2-3a5fc95e77a8",
              "name": "image_analysis_status",
              "value": "none",
              "type": "string"
            },
            {
              "id": "3b204457-0ebc-454f-9ab4-1473b9a6da39",
              "name": "agent_prompt",
              "value": "={{\n(() => {\n  const lines = [\n    `Current message: ${$json.message_text || ''}`,\n    `Conversation reset: ${$json.conversation_reset ? 'yes' : 'no'}`,\n    `Product browse intent: ${$json.browse_products_signal ? 'yes' : 'no'}`,\n    $json.browse_products_signal ? 'Customer is browsing products. If the tool returns matching products with public images, populate product so workflow can send carousel.' : '',\n    $json.conversation_reset ? 'Treat this as a new product inquiry or new order context. Ignore previous need and contact until the customer reconfirms.' : '',\n    `Previous customer stage: ${$json.prompt_prev_customer_stage || 'new'}`,\n    `Previous lead status: ${$json.prompt_prev_lead_status || 'unknown'}`,\n    `Previous need summary: ${$json.prompt_prev_need_summary || ''}`,\n    `Previous products interested: ${$json.prompt_prev_products_interested || ''}`,\n    `Known fullname: ${$json.prompt_known_fullname || ''}`,\n    `Known phone: ${$json.prompt_known_phone || ''}`,\n    `Known address: ${$json.prompt_known_address || ''}`,\n    `Image analysis status: none`,\n  ];\n  return lines.filter(Boolean).join('\\\\n');\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -160
      ],
      "id": "b90c0f55-8e1a-4fde-8df2-ccca4d23a761",
      "name": "Edit Fields Agent Input Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f31a4854-0570-402c-945c-1d50f0de0d76",
              "name": "image_analysis_status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "b26e6c93-7bb6-414f-9512-2259eee48eb0",
              "name": "agent_prompt",
              "value": "={{\n(() => {\n  const lines = [\n    `Current message: ${$json.message_text || ''}`,\n    `Conversation reset: ${$json.conversation_reset ? 'yes' : 'no'}`,\n    `Product browse intent: ${$json.browse_products_signal ? 'yes' : 'no'}`,\n    $json.browse_products_signal ? 'Customer is browsing products. If the tool returns matching products with public images, populate product so workflow can send carousel.' : '',\n    $json.conversation_reset ? 'Treat this as a new product inquiry or new order context. Ignore previous need and contact until the customer reconfirms.' : '',\n    `Previous customer stage: ${$json.prompt_prev_customer_stage || 'new'}`,\n    `Previous lead status: ${$json.prompt_prev_lead_status || 'unknown'}`,\n    `Previous need summary: ${$json.prompt_prev_need_summary || ''}`,\n    `Previous products interested: ${$json.prompt_prev_products_interested || ''}`,\n    `Known fullname: ${$json.prompt_known_fullname || ''}`,\n    `Known phone: ${$json.prompt_known_phone || ''}`,\n    `Known address: ${$json.prompt_known_address || ''}`,\n    `Image analysis status: failed`,\n    `The uploaded image could not be embedded or read.`,\n  ];\n  return lines.filter(Boolean).join('\\\\n');\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -544
      ],
      "id": "9b10b28e-386c-4a18-96b5-0a3c62433e0e",
      "name": "Edit Fields Agent Input Image Failed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba119de6-55c3-4eac-a899-aa710c4cb4db",
              "name": "image_analysis_status",
              "value": "matched_candidates",
              "type": "string"
            },
            {
              "id": "5c6d69f4-0464-4ad5-acfe-0cd902edccbb",
              "name": "agent_prompt",
              "value": "={{\n(() => {\n  const lines = [\n    `Current message: ${$json.customer_message || ''}`,\n    `Conversation reset: ${$json.conversation_reset ? 'yes' : 'no'}`,\n    `Product browse intent: ${$json.browse_products_signal ? 'yes' : 'no'}`,\n    $json.browse_products_signal ? 'Customer is browsing products. If the tool returns matching products with public images, populate product so workflow can send carousel.' : '',\n    $json.conversation_reset ? 'Treat this as a new product inquiry or new order context. Ignore previous need and contact until the customer reconfirms.' : '',\n    `Previous customer stage: ${$json.prompt_prev_customer_stage || 'new'}`,\n    `Previous lead status: ${$json.prompt_prev_lead_status || 'unknown'}`,\n    `Previous need summary: ${$json.prompt_prev_need_summary || ''}`,\n    `Previous products interested: ${$json.prompt_prev_products_interested || ''}`,\n    `Known fullname: ${$json.prompt_known_fullname || ''}`,\n    `Known phone: ${$json.prompt_known_phone || ''}`,\n    `Known address: ${$json.prompt_known_address || ''}`,\n    `Image analysis status: matched_candidates`,\n    `Image candidates JSON: ${JSON.stringify($json.candidates || [])}`,\n  ];\n  return lines.filter(Boolean).join('\\\\n');\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -352
      ],
      "id": "9234fde6-c23b-4b55-8f39-6aef909d5657",
      "name": "Edit Fields Agent Input Image Search"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pgXtOU6rL3077FS9",
          "mode": "list",
          "cachedResultUrl": "/workflow/pgXtOU6rL3077FS9",
          "cachedResultName": "PG_Search_Products"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "product_query": "={{ $fromAI('product_query', 'Tên / loại / thương hiệu / size / mô tả sản phẩm khách đang hỏi', 'string') }}",
            "max_results": 5,
            "exclude_product_ids_json": "[]",
            "exclude_website_urls_json": "[]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_query",
              "displayName": "product_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "max_results",
              "displayName": "max_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "exclude_product_ids_json",
              "displayName": "exclude_product_ids_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "exclude_website_urls_json",
              "displayName": "exclude_website_urls_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2624,
        512
      ],
      "id": "26b68cf4-3b6f-4c56-b435-5f1bc4819028",
      "name": "Call n8n Workflow Tool: PG_Search_Products"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json ?? {};\n\nconst CUSTOMER_STAGES = new Set([\n  'new',\n  'discovering',\n  'quoted',\n  'qualified',\n  'waiting_phone',\n  'handoff_ready',\n  'cold',\n]);\n\nconst LEAD_STATUSES = new Set([\n  'unknown',\n  'interested',\n  'qualified',\n  'not_interested',\n  'inactive',\n]);\n\nfunction asString(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction asBoolean(value) {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = asString(value).toLowerCase();\n  if (['true', '1', 'yes', 'y'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', ''].includes(text)) return false;\n  return false;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const num = Number(value);\n  return Number.isFinite(num) ? num : fallback;\n}\n\nfunction normalizeIntentScore(value) {\n  let score = asNumber(value, 0);\n  if (score > 0 && score <= 1) score *= 100;\n  score = Math.max(0, Math.min(100, score));\n  return Math.round(score);\n}\n\nfunction stripCodeFence(text) {\n  const raw = asString(text);\n  const fenced = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  return fenced ? fenced[1].trim() : raw;\n}\n\nfunction extractFirstJsonObject(text) {\n  const raw = asString(text);\n  const start = raw.indexOf('{');\n  if (start === -1) return '';\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let i = start; i < raw.length; i += 1) {\n    const ch = raw[i];\n\n    if (escaped) {\n      escaped = false;\n      continue;\n    }\n\n    if (ch === '\\\\') {\n      escaped = true;\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = !inString;\n      continue;\n    }\n\n    if (inString) continue;\n\n    if (ch === '{') depth += 1;\n    if (ch === '}') depth -= 1;\n\n    if (depth === 0) {\n      return raw.slice(start, i + 1);\n    }\n  }\n\n  return '';\n}\n\nfunction parseJsonLike(rawValue) {\n  if (rawValue && typeof rawValue === 'object') return rawValue;\n\n  const text = stripCodeFence(rawValue);\n  if (!text) throw new Error('empty_output');\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    const extracted = extractFirstJsonObject(text);\n    if (!extracted) throw error;\n    return JSON.parse(extracted);\n  }\n}\n\nfunction unwrapPayload(value) {\n  if (!value || typeof value !== 'object' || Array.isArray(value)) return value;\n\n  if (value.output && typeof value.output === 'object' && !Array.isArray(value.output)) {\n    return value.output;\n  }\n\n  if (value.data && typeof value.data === 'object' && !Array.isArray(value.data)) {\n    return value.data;\n  }\n\n  if (value.result && typeof value.result === 'object' && !Array.isArray(value.result)) {\n    return value.result;\n  }\n\n  return value;\n}\n\nfunction normalizeStage(value) {\n  const stage = asString(value);\n  return CUSTOMER_STAGES.has(stage) ? stage : 'new';\n}\n\nfunction normalizeLeadStatus(value) {\n  const status = asString(value);\n  return LEAD_STATUSES.has(status) ? status : 'unknown';\n}\n\nfunction normalizeProduct(item) {\n  const source = item && typeof item === 'object' ? item : {};\n  return {\n    title: asString(source.title),\n    variant: asString(source.variant),\n    size: asString(source.size),\n    quantity: Math.max(1, asNumber(source.quantity, 1)),\n    price: asString(source.price),\n    image: asString(source.image),\n    website_url: asString(source.website_url),\n  };\n}\n\nfunction formatReplyMessage(value) {\n  const raw = asString(value);\n  if (!raw) return '';\n\n  const compactText = raw\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  if (!compactText) return '';\n\n  const splitSentences = (text) => {\n    const parts = text.split(/(?<=[.!?])\\s+/).map((item) => item.trim()).filter(Boolean);\n    return parts.length > 0 ? parts : [text];\n  };\n\n  const paragraphs = compactText\n    .split(/\\n{2,}/)\n    .map((block) => block.trim())\n    .filter(Boolean)\n    .flatMap((block) => {\n      const prepared = block\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .replace(/([.!?])\\s+(?=(?:Dạ|Da|Em|Anh\\/chị|Anh\\/chi|Hiện|Hien|Nếu|Neu|Ngoài ra|Ngoai ra|Mình|Minh|Để|De)\\b)/g, '$1\\n')\n        .replace(/:\\s+(?=\\S)/g, ':\\n')\n        .trim();\n\n      if (!prepared) return [];\n      if (prepared.includes('\\n')) {\n        return prepared.split(/\\n+/).map((line) => line.trim()).filter(Boolean);\n      }\n      if (/^([-*•]|\\d+\\.)\\s/.test(prepared)) return [prepared];\n\n      const sentences = splitSentences(prepared);\n      return sentences.length > 1 ? sentences : [prepared];\n    });\n\n  return paragraphs.join('\\n\\n').replace(/\\n{3,}/g, '\\n\\n').slice(0, 1500);\n}\n\nconst rawCandidate =\n  input.output ??\n  input.text ??\n  input.response ??\n  input.result ??\n  input.answer ??\n  input;\n\nlet parsed = {};\nlet parseError = '';\n\ntry {\n  parsed = unwrapPayload(parseJsonLike(rawCandidate));\n} catch (error) {\n  parseError = error.message || 'parse_failed';\n  parsed = {};\n}\n\nconst rawText =\n  typeof rawCandidate === 'string'\n    ? rawCandidate\n    : JSON.stringify(rawCandidate);\n\nconst product = Array.isArray(parsed.product)\n  ? parsed.product.map(normalizeProduct).slice(0, 5)\n  : [];\n\nconst normalized = {\n  fullname: asString(parsed.fullname),\n  phone: asString(parsed.phone),\n  address: asString(parsed.address),\n  products_interested: asString(parsed.products_interested),\n  need_summary: asString(parsed.need_summary),\n  customer_stage: normalizeStage(parsed.customer_stage),\n  lead_status: normalizeLeadStatus(parsed.lead_status),\n  intent_score: normalizeIntentScore(parsed.intent_score),\n  ask_for_phone_now: asBoolean(parsed.ask_for_phone_now),\n  has_clear_need: asBoolean(parsed.has_clear_need),\n  handoff_ready: asBoolean(parsed.handoff_ready),\n  handoff_reason: asString(parsed.handoff_reason),\n  message: formatReplyMessage(asString(parsed.message) || asString(rawText).slice(0, 1000)),\n  product,\n};\n\nif (!normalized.products_interested && normalized.product.length > 0) {\n  normalized.products_interested = normalized.product\n    .map((item) => item.title)\n    .filter(Boolean)\n    .slice(0, 3)\n    .join(', ');\n}\n\nif (!normalized.need_summary && normalized.products_interested) {\n  normalized.need_summary = `Khach dang quan tam ${normalized.products_interested}`.slice(0, 500);\n}\n\nreturn [\n  {\n    json: {\n      output: normalized,\n      parse_status: parseError ? 'fallback' : 'ok',\n      parse_error: parseError,\n      raw_output_text: rawText,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -32
      ],
      "id": "f124d7b6-852c-4d1a-bd9f-5a6287082f31",
      "name": "Code Normalize AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4d96a31-bf2f-46de-93a0-9c417ca57a01",
              "leftValue": "={{ String($json.output?.message || '').trim() !== '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2592,
        -272
      ],
      "id": "85a73943-9eb4-41a7-bf93-50e7d59e4713",
      "name": "If Has Reply Message Stable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ String($('Set Buffered Conversation Context').first().json.sender_id).trim() }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($('Code Normalize AI Output').first().json.output.message) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2832,
        -272
      ],
      "id": "6548f047-294d-4c7f-9b75-a0cd52c52a4e",
      "name": "HTTP Reply Facebook Text Stable",
      "credentials": {
        "facebookGraphApi": {
          "id": "daIRt8RpKc4mvqah",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f387093-c2ff-458c-bb36-8354d7bda561",
              "leftValue": "={{ (() => { const products = Array.isArray($json.output?.product) ? $json.output.product : []; const hasImages = products.some((item) => String(item.image || '').trim() !== ''); if (!hasImages) return false; const normalize = (value) => String(value || '').normalize('NFD').replace(/[đĐ]/g, 'd').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s+/g, ' ').trim(); const text = normalize($('Set Buffered Conversation Context').first().json.message_text || ''); const wantsVisual = /(hinh anh|xem anh|gui anh|xem hinh|gui hinh|xem mau|gui mau|mau nao|catalog|catalogue|lookbook)/.test(text); const browseSignal = Boolean($('Set Conversation Scope').first().json.browse_products_signal); return wantsVisual || browseSignal || Boolean($('Set Buffered Conversation Context').first().json.has_image_attachment); })() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2592,
        -96
      ],
      "id": "c71ef84d-ea2e-40f1-936b-d25ee768939b",
      "name": "If Has Product Images Stable"
    },
    {
      "parameters": {
        "jsCode": "const sender_id = String($('Set Buffered Conversation Context').first().json.sender_id || '').trim();\n\nconst isHttpUrl = (value) => /^https?:\\/\\//i.test(String(value || '').trim());\nconst products = Array.isArray($('Code Normalize AI Output').first().json.output?.product)\n  ? $('Code Normalize AI Output').first().json.output.product\n  : [];\n\nconst elements = products\n  .map((item, index) => {\n    const imageUrl = String(item.image || '').trim();\n    if (!isHttpUrl(imageUrl)) return null;\n\n    const websiteUrl = String(item.website_url || '').trim();\n    const hasWebsiteUrl = isHttpUrl(websiteUrl);\n\n    const title = String(item.title || `San pham ${index + 1}`)\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .slice(0, 80);\n\n    const subtitle = [\n      item.price ? `Gia ban: ${String(item.price).trim()}` : '',\n      item.size ? `Size: ${String(item.size).trim()}` : '',\n      item.variant ? String(item.variant).trim() : '',\n    ].filter(Boolean).join(' | ').slice(0, 80);\n\n    const element = {\n      title,\n      image_url: imageUrl,\n      subtitle,\n    };\n\n    if (hasWebsiteUrl) {\n      element.default_action = {\n        type: 'web_url',\n        url: websiteUrl,\n        webview_height_ratio: 'full',\n      };\n      element.buttons = [\n        {\n          type: 'web_url',\n          url: websiteUrl,\n          title: 'Xem chi tiet',\n          webview_height_ratio: 'full',\n        },\n      ];\n    }\n\n    return element;\n  })\n  .filter(Boolean)\n  .slice(0, 5);\n\nreturn [{ json: { sender_id, elements } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        -96
      ],
      "id": "1294ecd7-7e39-4ea9-97db-e6ada2032c43",
      "name": "Set Facebook Product Carousel Stable"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "627d66af-3e7a-43e8-90d3-7f333896c446",
              "leftValue": "={{ Array.isArray($json.elements) ? $json.elements.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3072,
        -96
      ],
      "id": "eef0fd36-db16-4aaa-ac92-e99e22cf3224",
      "name": "If Has Carousel Elements Stable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ String($json.sender_id || \"\").trim() }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": {{ JSON.stringify($json.elements) }}\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3312,
        -96
      ],
      "id": "15128561-a46e-4dfd-a12e-42ee29b36cb9",
      "name": "HTTP Reply Facebook Carousel Stable",
      "credentials": {
        "facebookGraphApi": {
          "id": "daIRt8RpKc4mvqah",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  cps.customer_stage,\n  cps.lead_status,\n  cps.intent_score,\n  cps.has_clear_need,\n  cps.ask_for_phone_now,\n  cps.handoff_ready,\n  cps.handoff_created,\n  cps.phone_capture_status,\n  cps.handoff_reason,\n  cps.need_summary,\n  cps.products_interested,\n  cps.fullname,\n  cps.phone,\n  cps.address,\n  cps.customer_city,\n  cps.customer_district,\n  cps.quoted_at,\n  cps.asked_phone_at,\n  cps.first_seen_at\nfrom (select 1 as seed) s\nleft join lateral (\n  select *\n  from public.customer_phase_state\n  where channel = $1::text\n    and page_id is not distinct from nullif($2::text, '')\n    and sender_id = $3::text\n  limit 1\n) cps on true;",
        "options": {
          "queryReplacement": "={{ [\n  $('Set Buffered Conversation Context').first().json.channel || 'facebook',\n  $('Set Buffered Conversation Context').first().json.page_id || '',\n  $('Set Buffered Conversation Context').first().json.sender_id || ''\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2592,
        -512
      ],
      "id": "fcf80a73-f6fe-4726-92d2-c4c8d8886962",
      "name": "GMF Load Existing Lead State Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "channel",
              "value": "={{ $('Set Buffered Conversation Context').first().json.channel || 'facebook' }}",
              "type": "string"
            },
            {
              "name": "page_id",
              "value": "={{ $('Set Buffered Conversation Context').first().json.page_id || '' }}",
              "type": "string"
            },
            {
              "name": "sender_id",
              "value": "={{ $('Set Buffered Conversation Context').first().json.sender_id || '' }}",
              "type": "string"
            },
            {
              "name": "reset_context",
              "value": "={{ Boolean($('Set Conversation Scope').first().json.conversation_reset) }}",
              "type": "boolean"
            },
            {
              "name": "customer_stage",
              "value": "={{ $('Code Normalize AI Output').first().json.output.customer_stage || ($('Set Conversation Scope').first().json.conversation_reset === true ? 'new' : ($json.customer_stage || 'new')) }}",
              "type": "string"
            },
            {
              "name": "lead_status",
              "value": "={{ $('Code Normalize AI Output').first().json.output.lead_status || ($('Set Conversation Scope').first().json.conversation_reset === true ? 'unknown' : ($json.lead_status || 'unknown')) }}",
              "type": "string"
            },
            {
              "name": "intent_score",
              "value": "={{ (() => { const current = $('Code Normalize AI Output').first().json.output.intent_score; if (current !== undefined && current !== null && current !== '') return Number(current); return $('Set Conversation Scope').first().json.conversation_reset === true ? 0 : Number($json.intent_score || 0); })() }}",
              "type": "string"
            },
            {
              "name": "has_clear_need",
              "value": "={{ Boolean($('Code Normalize AI Output').first().json.output.has_clear_need) }}",
              "type": "boolean"
            },
            {
              "name": "ask_for_phone_now",
              "value": "={{ Boolean($('Code Normalize AI Output').first().json.output.ask_for_phone_now) }}",
              "type": "boolean"
            },
            {
              "name": "handoff_ready",
              "value": "={{ Boolean($('Code Normalize AI Output').first().json.output.handoff_ready) }}",
              "type": "boolean"
            },
            {
              "name": "handoff_created",
              "value": "={{ $('Set Conversation Scope').first().json.conversation_reset === true ? false : Boolean($json.handoff_created) }}",
              "type": "boolean"
            },
            {
              "name": "phone_capture_status",
              "value": "={{ String($('Code Normalize AI Output').first().json.output.phone || '').trim() ? 'provided' : ($('Code Normalize AI Output').first().json.output.ask_for_phone_now === true ? 'requested' : ($('Set Conversation Scope').first().json.conversation_reset === true ? 'unknown' : ($json.phone_capture_status || 'unknown'))) }}",
              "type": "string"
            },
            {
              "name": "handoff_reason",
              "value": "={{ $('Code Normalize AI Output').first().json.output.handoff_reason || ($('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.handoff_reason || '')) }}",
              "type": "string"
            },
            {
              "name": "need_summary",
              "value": "={{ $('Code Normalize AI Output').first().json.output.need_summary || ($('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.need_summary || '')) }}",
              "type": "string"
            },
            {
              "name": "products_interested",
              "value": "={{ $('Code Normalize AI Output').first().json.output.products_interested || ($('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.products_interested || '')) }}",
              "type": "string"
            },
            {
              "name": "fullname",
              "value": "={{ $('Code Normalize AI Output').first().json.output.fullname || ($('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.fullname || '')) }}",
              "type": "string"
            },
            {
              "name": "phone",
              "value": "={{ $('Code Normalize AI Output').first().json.output.phone || ($('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.phone || '')) }}",
              "type": "string"
            },
            {
              "name": "address",
              "value": "={{ $('Code Normalize AI Output').first().json.output.address || ($('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.address || '')) }}",
              "type": "string"
            },
            {
              "name": "customer_city",
              "value": "={{ $('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.customer_city || '') }}",
              "type": "string"
            },
            {
              "name": "customer_district",
              "value": "={{ $('Set Conversation Scope').first().json.conversation_reset === true ? '' : ($json.customer_district || '') }}",
              "type": "string"
            },
            {
              "name": "quoted_at",
              "value": "={{ $('Code Normalize AI Output').first().json.output.customer_stage === 'quoted' ? new Date().toISOString() : ($('Set Conversation Scope').first().json.conversation_reset === true ? null : ($json.quoted_at || null)) }}",
              "type": "string"
            },
            {
              "name": "asked_phone_at",
              "value": "={{ $('Code Normalize AI Output').first().json.output.ask_for_phone_now === true ? new Date().toISOString() : ($('Set Conversation Scope').first().json.conversation_reset === true ? null : ($json.asked_phone_at || null)) }}",
              "type": "string"
            },
            {
              "name": "last_customer_message_at",
              "value": "={{ $('Set Buffered Conversation Context').first().json.last_event_at || new Date().toISOString() }}",
              "type": "string"
            },
            {
              "name": "last_bot_reply_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "name": "last_customer_message_excerpt",
              "value": "={{ String($('Set Buffered Conversation Context').first().json.message_text || '').slice(0, 500) }}",
              "type": "string"
            },
            {
              "name": "last_bot_reply_excerpt",
              "value": "={{ String($('Code Normalize AI Output').first().json.output.message || '').slice(0, 500) }}",
              "type": "string"
            },
            {
              "name": "first_seen_at",
              "value": "={{ $json.first_seen_at || new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        -512
      ],
      "id": "95a06ae2-3260-47aa-bdb2-d0a59e4caca6",
      "name": "GMF Prepare Lead State Row Stable"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.customer_phase_state (\n  channel,\n  page_id,\n  sender_id,\n  customer_stage,\n  lead_status,\n  intent_score,\n  has_clear_need,\n  ask_for_phone_now,\n  handoff_ready,\n  handoff_created,\n  phone_capture_status,\n  handoff_reason,\n  need_summary,\n  products_interested,\n  fullname,\n  phone,\n  address,\n  customer_city,\n  customer_district,\n  quoted_at,\n  asked_phone_at,\n  last_customer_message_at,\n  last_bot_reply_at,\n  last_customer_message_excerpt,\n  last_bot_reply_excerpt,\n  first_seen_at\n)\nvalues (\n  $1::text,\n  nullif($2::text, ''),\n  $3::text,\n  $4::text,\n  $5::text,\n  $6::integer,\n  $7::boolean,\n  $8::boolean,\n  $9::boolean,\n  $10::boolean,\n  $11::text,\n  nullif($12::text, ''),\n  nullif($13::text, ''),\n  nullif($14::text, ''),\n  nullif($15::text, ''),\n  nullif($16::text, ''),\n  nullif($17::text, ''),\n  nullif($18::text, ''),\n  nullif($19::text, ''),\n  $20::timestamptz,\n  $21::timestamptz,\n  $22::timestamptz,\n  $23::timestamptz,\n  nullif($24::text, ''),\n  nullif($25::text, ''),\n  $26::timestamptz\n)\non conflict (channel, page_id, sender_id)\ndo update set\n  customer_stage = excluded.customer_stage,\n  lead_status = excluded.lead_status,\n  intent_score = excluded.intent_score,\n  has_clear_need = excluded.has_clear_need,\n  ask_for_phone_now = excluded.ask_for_phone_now,\n  handoff_ready = excluded.handoff_ready,\n  handoff_created = excluded.handoff_created,\n  handoff_reason = excluded.handoff_reason,\n  need_summary = case when $27::boolean then excluded.need_summary else coalesce(excluded.need_summary, public.customer_phase_state.need_summary) end,\n  products_interested = case when $27::boolean then excluded.products_interested else coalesce(excluded.products_interested, public.customer_phase_state.products_interested) end,\n  fullname = case when $27::boolean then excluded.fullname else coalesce(excluded.fullname, public.customer_phase_state.fullname) end,\n  phone = case when $27::boolean then excluded.phone else coalesce(excluded.phone, public.customer_phase_state.phone) end,\n  address = case when $27::boolean then excluded.address else coalesce(excluded.address, public.customer_phase_state.address) end,\n  customer_city = case when $27::boolean then excluded.customer_city else coalesce(excluded.customer_city, public.customer_phase_state.customer_city) end,\n  customer_district = case when $27::boolean then excluded.customer_district else coalesce(excluded.customer_district, public.customer_phase_state.customer_district) end,\n  quoted_at = case when $27::boolean then excluded.quoted_at else coalesce(excluded.quoted_at, public.customer_phase_state.quoted_at) end,\n  asked_phone_at = case when $27::boolean then excluded.asked_phone_at else coalesce(excluded.asked_phone_at, public.customer_phase_state.asked_phone_at) end,\n  last_customer_message_at = excluded.last_customer_message_at,\n  last_bot_reply_at = excluded.last_bot_reply_at,\n  last_customer_message_excerpt = excluded.last_customer_message_excerpt,\n  last_bot_reply_excerpt = excluded.last_bot_reply_excerpt,\n  first_seen_at = coalesce(public.customer_phase_state.first_seen_at, excluded.first_seen_at)\nreturning *;",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel,\n  $json.page_id,\n  $json.sender_id,\n  $json.customer_stage,\n  $json.lead_status,\n  Number($json.intent_score || 0),\n  Boolean($json.has_clear_need),\n  Boolean($json.ask_for_phone_now),\n  Boolean($json.handoff_ready),\n  Boolean($json.handoff_created),\n  $json.phone_capture_status,\n  $json.handoff_reason || '',\n  $json.need_summary || '',\n  $json.products_interested || '',\n  $json.fullname || '',\n  $json.phone || '',\n  $json.address || '',\n  $json.customer_city || '',\n  $json.customer_district || '',\n  $json.quoted_at || null,\n  $json.asked_phone_at || null,\n  $json.last_customer_message_at || null,\n  $json.last_bot_reply_at || null,\n  $json.last_customer_message_excerpt || '',\n  $json.last_bot_reply_excerpt || '',\n  $json.first_seen_at || null,\n  Boolean($json.reset_context)\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3072,
        -512
      ],
      "id": "cd39bf84-777e-430b-a244-7a7a5bc3b809",
      "name": "GMF Upsert Lead State Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  $1::text as channel,\n  nullif($2::text, '') as page_id,\n  $3::text as sender_id,\n  $4::boolean as handoff_ready,\n  $5::boolean as handoff_created,\n  nullif($6::text, '') as phone,\n  nullif($7::text, '') as fullname,\n  $8::boolean as has_clear_need,\n  nullif($9::text, '') as customer_stage,\n  nullif($10::text, '') as products_interested,\n  nullif($11::text, '') as need_summary,\n  nullif($12::text, '') as handoff_reason,\n  nullif($13::text, '') as last_customer_message_excerpt,\n  $14::timestamptz as last_customer_message_at,\n  q.id as recent_handoff_queue_id,\n  q.products_interested as recent_handoff_products_interested,\n  q.need_summary as recent_handoff_need_summary,\n  q.phone as recent_handoff_phone,\n  q.created_at as recent_handoff_created_at,\n  q.status as recent_handoff_status\nfrom (select 1 as seed) s\nleft join lateral (\n  select id, products_interested, need_summary, phone, created_at, status\n  from public.lead_handoff_queue\n  where channel = $1::text\n    and page_id is not distinct from nullif($2::text, '')\n    and sender_id = $3::text\n  order by created_at desc\n  limit 1\n) q on true;",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel,\n  $json.page_id || '',\n  $json.sender_id,\n  Boolean($json.handoff_ready),\n  Boolean($json.handoff_created),\n  $json.phone || '',\n  $json.fullname || '',\n  Boolean($json.has_clear_need),\n  $json.customer_stage || '',\n  $json.products_interested || '',\n  $json.need_summary || '',\n  $json.handoff_reason || '',\n  $json.last_customer_message_excerpt || '',\n  $json.last_customer_message_at || null\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3312,
        -656
      ],
      "id": "177dbe67-564b-477d-846d-bdc3f9bd1fe7",
      "name": "GMF Load Latest Handoff Queue Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f81164f7-09de-4f6d-b258-29375f5d9701",
              "leftValue": "={{ (() => { if ($json.handoff_ready !== true) return false; if ($json.handoff_created === true) return false; if ($json.has_clear_need !== true) return false; const normalize = (value) => String(value || '').normalize('NFD').replace(/[đĐ]/g, 'd').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9\\s]/g, ' ').replace(/\\s+/g, ' ').trim(); const phoneDigits = String($json.phone || '').replace(/\\D/g, ''); const recentPhoneDigits = String($json.recent_handoff_phone || '').replace(/\\D/g, ''); const hasValidPhone = /^(0\\d{9,10}|84\\d{8,10})$/.test(phoneDigits); if (!hasValidPhone) return false; const currentProduct = normalize($json.products_interested || ''); const recentProduct = normalize($json.recent_handoff_products_interested || ''); const currentNeed = normalize($json.need_summary || ''); const recentNeed = normalize($json.recent_handoff_need_summary || ''); if (!currentProduct && !currentNeed) return false; const reasonText = normalize($json.handoff_reason || ''); const messageText = normalize($json.last_customer_message_excerpt || ''); const explicitHandoffSignal = [ /muon dat/, /dat hang/, /chot don/, /len don/, /xac nhan don/, /muon sale/, /sale lien he/, /nhan vien lien he/, /goi lai/, /lien he lai/, /de lai sdt/, /co sdt/, /tu van them boi sale/, /bot khong nen xu ly tiep/, /khach da co nhu cau ro va de lai sdt/ ].some((pattern) => pattern.test(reasonText) || pattern.test(messageText)); if (!explicitHandoffSignal) return false; const currentAt = Date.parse($json.last_customer_message_at || ''); const recentAt = Date.parse($json.recent_handoff_created_at || ''); const gapHours = Number.isFinite(currentAt) && Number.isFinite(recentAt) ? (currentAt - recentAt) / 3600000 : 999; if ($json.recent_handoff_queue_id && gapHours < 1) return false; const sameProduct = currentProduct && recentProduct && (currentProduct === recentProduct || currentProduct.includes(recentProduct) || recentProduct.includes(currentProduct)); const sameNeed = currentNeed && recentNeed && (currentNeed.includes(recentNeed) || recentNeed.includes(currentNeed)); const samePhone = phoneDigits && recentPhoneDigits && phoneDigits === recentPhoneDigits; const recentDuplicate = gapHours < 6 && (sameProduct || sameNeed || samePhone); return !recentDuplicate; })() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        -512
      ],
      "id": "13e8c45c-a6f7-40b2-b8b5-f12d739dccc5",
      "name": "GMF If Handoff Ready Stable"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.lead_handoff_queue (\n  channel,\n  page_id,\n  sender_id,\n  phone,\n  fullname,\n  products_interested,\n  need_summary,\n  handoff_reason,\n  status\n)\nvalues (\n  $1::text,\n  nullif($2::text, ''),\n  $3::text,\n  nullif($4::text, ''),\n  nullif($5::text, ''),\n  nullif($6::text, ''),\n  nullif($7::text, ''),\n  nullif($8::text, ''),\n  'pending'\n)\nreturning *;",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel,\n  $json.page_id || '',\n  $json.sender_id,\n  $json.phone || '',\n  $json.fullname || '',\n  $json.products_interested || '',\n  $json.need_summary || '',\n  $json.handoff_reason || ''\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3552,
        -592
      ],
      "id": "442b1ec3-0f33-4892-8804-086749b57bcd",
      "name": "GMF Insert Lead Handoff Queue Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select tok.access_token\nfrom (select 1 as seed) s\nleft join lateral (\n  select access_token\n  from public.zalo_oa_tokens\n  where token_key = 'oa_main'\n    and coalesce(access_token, '') <> ''\n  order by updated_at desc nulls last\n  limit 1\n) tok on true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3792,
        -592
      ],
      "id": "0a882865-803a-47df-95fe-bd51a0d70508",
      "name": "GMF Load Zalo OA Token Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "26b427a6-7db8-42e5-8f1c-f420a66e2c01",
              "leftValue": "={{ String($json.access_token || '').trim() !== '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4048,
        -592
      ],
      "id": "0e7b7235-5858-453e-a742-ea5e080e3cee",
      "name": "GMF If Has Zalo OA Token Stable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "access_token",
              "value": "={{ String($json.access_token || '').trim() }}",
              "type": "string",
              "id": "e85563d0-967a-4298-ac6e-3c7d90497dc9"
            },
            {
              "name": "group_id",
              "value": "9eea7ebed9dd308369cc",
              "type": "string",
              "id": "b7861a4c-7049-49eb-b72b-29f6b4c98b1b"
            },
            {
              "name": "ticket_message",
              "value": "={{ (() => {\n  const lead = $('GMF Prepare Lead State Row Stable').first().json;\n  const queue = $('GMF Insert Lead Handoff Queue Stable').first().json;\n  const rawMessage = String($('Set Buffered Conversation Context').first().json.message_text || '').trim();\n\n  const normalize = (text) => String(text || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const cleanedLatestMessage = Array.from(new Set(\n    rawMessage\n      .split(/\\n+/)\n      .map((line) => String(line || '').trim())\n      .filter(Boolean)\n  )).join(' / ');\n\n  const needSummary = String(lead.need_summary || '').trim();\n  const handoffReason = String(lead.handoff_reason || '').trim();\n\n  const isDuplicateReason =\n    needSummary &&\n    handoffReason &&\n    (\n      normalize(needSummary).includes(normalize(handoffReason)) ||\n      normalize(handoffReason).includes(normalize(needSummary))\n    );\n\n  const createdAtValue = queue.created_at || queue.inserted_at || queue.createdAt || new Date().toISOString();\n  const createdAtText = new Date(createdAtValue).toLocaleString('vi-VN', {\n    timeZone: 'Asia/Ho_Chi_Minh',\n    hour12: false,\n  });\n\n  return [\n    `Ticket: T-${queue.id}`,\n    `Thời gian tạo: ${createdAtText}`,\n    `Nguồn: ${String(lead.channel || '').trim()}`,\n    String(lead.fullname || '').trim() ? `Khách: ${String(lead.fullname || '').trim()}` : 'Khách: chưa có tên',\n    String(lead.phone || '').trim() ? `SĐT: ${String(lead.phone || '').trim()}` : 'SĐT: chưa có',\n    String(lead.products_interested || '').trim() ? `Sản phẩm: ${String(lead.products_interested || '').trim()}` : '',\n    needSummary ? `Nhu cầu: ${needSummary}` : '',\n    handoffReason && !isDuplicateReason ? `Lý do handoff: ${handoffReason}` : '',\n    cleanedLatestMessage ? `Tin nhắn gần nhất: ${cleanedLatestMessage.slice(0, 200)}` : '',\n  ].filter(Boolean).join('\\n');\n})() }}",
              "type": "string",
              "id": "d2cd796b-b308-4bed-b8b4-64642142420f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4288,
        -672
      ],
      "id": "501ec739-c936-4234-a2a1-628b233eeda7",
      "name": "GMF Build Handoff Notification Stable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.zalo.me/v3.0/oa/group/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { recipient: { group_id: $json.group_id }, message: { text: $json.ticket_message } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4528,
        -672
      ],
      "id": "5079958f-8730-422b-95ba-69a20a0b84ce",
      "name": "GMF Send Zalo Group Notification Stable"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.lead_handoff_queue\nset status = 'sent',\n    processed_at = now()\nwhere id = $1::bigint\nreturning *;",
        "options": {
          "queryReplacement": "={{ [ $('GMF Insert Lead Handoff Queue Stable').first().json.id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4768,
        -672
      ],
      "id": "991a7b71-4abd-4455-8190-74796040a8c9",
      "name": "GMF Mark Queue Sent Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.customer_phase_state\nset handoff_created = true\nwhere channel = $1::text\n  and page_id is not distinct from nullif($2::text, '')\n  and sender_id = $3::text\nreturning *;",
        "options": {
          "queryReplacement": "={{ [\n  $json.channel,\n  $json.page_id || '',\n  $json.sender_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5008,
        -672
      ],
      "id": "362ea636-7a33-4e55-9552-a91e0450f492",
      "name": "GMF Mark Handoff Created Stable",
      "credentials": {
        "postgres": {
          "id": "pKj9yv1GAqmcb6RV",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code Normalize AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "PG Merge Facebook Conversation Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Has Image Attachment": {
      "main": [
        [
          {
            "node": "Set Customer Image Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Agent Input Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Customer Image Payload": {
      "main": [
        [
          {
            "node": "HTTP Embed Customer Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Embed Customer Image": {
      "main": [
        [
          {
            "node": "If Customer Embedding Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Customer Embedding Valid": {
      "main": [
        [
          {
            "node": "Set Customer Query Vector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Agent Input Image Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Customer Query Vector": {
      "main": [
        [
          {
            "node": "PG Search Top K Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Search Top K Products": {
      "main": [
        [
          {
            "node": "Edit Fields Agent Input Image Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Merge Facebook Conversation Buffer": {
      "main": [
        [
          {
            "node": "If Facebook Buffer Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Facebook Buffer Updated": {
      "main": [
        [
          {
            "node": "Wait Conversation Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Load Facebook Conversation Buffer": {
      "main": [
        [
          {
            "node": "If Latest Conversation Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Conversation Window": {
      "main": [
        [
          {
            "node": "PG Load Facebook Conversation Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Latest Conversation Buffer": {
      "main": [
        [
          {
            "node": "PG Mark Facebook Conversation Buffer Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Mark Facebook Conversation Buffer Processed": {
      "main": [
        [
          {
            "node": "Set Buffered Conversation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Buffered Conversation Context": {
      "main": [
        [
          {
            "node": "PG Get Lead State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Context + Prev Lead State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Nhanh_Check_Inventory_By_Location'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PG Get Lead State": {
      "main": [
        [
          {
            "node": "Edit Fields Prev Lead State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Prev Lead State": {
      "main": [
        [
          {
            "node": "Merge Context + Prev Lead State",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Context + Prev Lead State": {
      "main": [
        [
          {
            "node": "Set Conversation Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conversation Scope": {
      "main": [
        [
          {
            "node": "If Has Image Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Agent Input Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Agent Input Image Failed": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Agent Input Image Search": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool: PG_Search_Products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Normalize AI Output": {
      "main": [
        [
          {
            "node": "If Has Reply Message Stable",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Has Product Images Stable",
            "type": "main",
            "index": 0
          },
          {
            "node": "GMF Load Existing Lead State Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Reply Message Stable": {
      "main": [
        [
          {
            "node": "HTTP Reply Facebook Text Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Product Images Stable": {
      "main": [
        [
          {
            "node": "Set Facebook Product Carousel Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Facebook Product Carousel Stable": {
      "main": [
        [
          {
            "node": "If Has Carousel Elements Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Carousel Elements Stable": {
      "main": [
        [
          {
            "node": "HTTP Reply Facebook Carousel Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Load Existing Lead State Stable": {
      "main": [
        [
          {
            "node": "GMF Prepare Lead State Row Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Prepare Lead State Row Stable": {
      "main": [
        [
          {
            "node": "GMF Upsert Lead State Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Upsert Lead State Stable": {
      "main": [
        [
          {
            "node": "GMF Load Latest Handoff Queue Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Load Latest Handoff Queue Stable": {
      "main": [
        [
          {
            "node": "GMF If Handoff Ready Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF If Handoff Ready Stable": {
      "main": [
        [
          {
            "node": "GMF Insert Lead Handoff Queue Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Insert Lead Handoff Queue Stable": {
      "main": [
        [
          {
            "node": "GMF Load Zalo OA Token Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Load Zalo OA Token Stable": {
      "main": [
        [
          {
            "node": "GMF If Has Zalo OA Token Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF If Has Zalo OA Token Stable": {
      "main": [
        [
          {
            "node": "GMF Build Handoff Notification Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Build Handoff Notification Stable": {
      "main": [
        [
          {
            "node": "GMF Send Zalo Group Notification Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Send Zalo Group Notification Stable": {
      "main": [
        [
          {
            "node": "GMF Mark Queue Sent Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMF Mark Queue Sent Stable": {
      "main": [
        [
          {
            "node": "GMF Mark Handoff Created Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "551fb62d-5afa-4d41-a82a-300b98d48b07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41e49f29cafdfc4ce0bd59d40e7d7bda8c2d2148c515095698e03d3f19dd2937"
  },
  "id": "PIn9axetbEIfLjna",
  "tags": []
}
